/* styles.css */

body {
    background-color: #40E0D0;
    /* Turquoise */
    color: #FFFFFF;
    /* White */
    font-family: Arial, sans-serif;
}

header {
    background-color: #000080;
    /* Navy */
    padding: 10px;
    color: #FFFFFF;
    /* White */
    text-align: center;
}

button {
    background-color: #000080;
    /* Navy */
    color: #FFFFFF;
    /* White */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container {
    padding: 16px;
}